 <nav class="navbar fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            {{title}}
        </a>

        <button id="btn-power-off"><i class="fa fa-power-off fa-2x" aria-hidden="true"></i></button>    
    </nav>